.fundo {
    z-index: -1;
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-image: url("../imagens/background.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.25;
}

.botao_apoie {
    background-color: #36E110;
}