
#area-depoimentos {
    text-align: center;
    margin-bottom: 50px;
}


/* footer */
.icons > img {
    width: 45px;
    
}

.fundo {
    z-index: -1;
    background-image: url(imagens/2.PNG);
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
}


footer {
    background-image: url(imagens/fundof.PNG);
    color: white;
}
